.inline { display: inline; }
.or { display: inline-block; margin-left: 10px; margin-right: 10px; }
#attendeeLineTemplate { display: none; }

/* Date selection */
.date-picker {
	width: 80px;
}

input.time-picker {
	border: none;
	margin: 0;
	box-shadow: none;
	font-size: 10pt;
	width: 80px;
}

.ui-widget-content { border: 1px solid #ccc; margin-top: -10px; }

/* Attendees */

#attendees {
	max-width: 650px;
	margin: 0 0 20px;
	background: rgba( 240,240,240, 1);
	border-radius: 4px;
	border: 1px solid rgba(200, 200, 200, 1);
	overflow: hidden;
}

.line {
	width: 100%;
	height: 35px;
	clear: both;
	float: left;
	padding: 12px 0;
}

.line > div {
	text-align: center;
	float: left;
}

.line .icon {
	margin: 7px 5px 0 19px;
}

.line-name { width: 200px; }
.input-name { width: 130px; }

.line-email { width: 225px; }
.input-email { width: 156px; }

.line-or { width: 25px; }

.line-phone { width: 170px; }
.input-phone { width: 100px; }

#new-line {
	background: rgba(69, 69, 69, .25);
	cursor: pointer;
}

#new-line input { cursor: pointer; background: rgba (204, 204, 204, .05); }
#new-line input:focus { box-shadow: none !important; border-color: #ddd !important; }
#new-line:hover { background: rgba(204, 204, 204, .2); }
#new-line:hover input { background: #f5f5f5; }




.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-alight: center !important; }